<div class="row">
  <div class="col-6 d-flex flex-column">
    <div class="card dashboard-card fw-bold mb-2">
      {{!-- {{#if checkHoliday}} --}}
      {{!-- <p>今天不用打卡喔</p> --}}
      {{!-- {{else}} --}}
      {{#if punchDate}}
      <p>下班已打卡，本日工時：{{punchTimeCalc loginUser.Punch.[0].createdAt punchDate.createdAt}}</p>
      {{/if}}
      {{#if loginUser.Punch}}
      <p>上班已打卡</p>
      {{/if}}
      {{!-- {{/if}} --}}
    </div>
    <div class="card mb-2">
      <form action="/users/{{loginUser.id}}/punch" method="POST">
        <div class="form-group">
          {{#if loginUser.Punch}}
          <input type="hidden" readonly name="punchType" id="punchType" value="out">
          <button class="btn btn-primary btn-block w-100 dashboard-button" type="submit" {{#if checkHoliday}} disabled
            {{/if}}>下班打卡</button>
          {{else}}
          <input type="hidden" readonly name="punchType" id="punchType" value="in">
          <button class="btn btn-primary btn-block w-100 dashboard-button" type="submit" {{#if checkHoliday}} disabled
            {{/if}}>上班打卡</button>
          {{/if}}
        </div>
      </form>
    </div>
    <div class="card dashboard-card mb-2">
      {{#if checkHoliday}}{{else}}<p>今日上班打卡時間：{{loginUser.Punch.[0].createdAt}}</p>{{/if}}
    </div>
    <div class="card dashboard-card">
      {{#if checkHoliday}}{{else}}<p>今日下班打卡時間：{{punchDate.createdAt}}</p>{{/if}}
    </div>
  </div>
  <div class="col-6">
    <div id='calendar'></div>
  </div>
</div>